# Data Preparation

## Import Library

In [ ]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

## Load Data

In [ ]:
df = pd.read_csv('../ecommerce_customer_churn_dataset.csv')
df.head(10)

,Age,Gender,Country,City,Membership_Years,Login_Frequency,Session_Duration_Avg,Pages_Per_Session,Cart_Abandonment_Rate,Wishlist_Items,Total_Purchases,Average_Order_Value,Days_Since_Last_Purchase,Discount_Usage_Rate,Returns_Rate,Email_Open_Rate,Customer_Service_Calls,Product_Reviews_Written,Social_Media_Engagement_Score,Mobile_App_Usage,Payment_Method_Diversity,Lifetime_Value,Credit_Balance,Churned,Signup_Quarter
0,43.0,Male,France,Marseille,2.9,14.0,27.4,6.0,50.6,3.0,9.0,94.72,34.0,46.40,2.0,17.9,9.0,4.0,16.3,20.8,1.0,953.33,2278.0,0,Q1
1,36.0,Male,UK,Manchester,1.6,15.0,42.7,10.3,37.7,1.0,19.5,82.45,71.0,57.96,9.2,42.8,7.0,3.0,NaN,23.3,3.0,1067.47,3028.0,0,Q4
2,45.0,Female,Canada,Vancouver,2.9,10.0,24.8,1.6,70.9,1.0,9.1,165.52,11.0,12.24,11.5,0.0,4.0,1.0,NaN,8.8,NaN,1289.75,2317.0,0,Q4
3,56.0,Female,USA,New York,2.6,10.0,38.4,14.8,41.7,9.0,15.0,147.33,47.0,44.10,5.4,41.4,2.0,5.0,85.9,31.0,3.0,2340.92,2674.0,0,Q1
4,35.0,Male,India,Delhi,3.1,29.0,51.4,NaN,19.1,9.0,32.5,141.30,73.0,25.20,5.5,37.9,1.0,11.0,83.0,50.4,4.0,3041.29,5354.0,0,Q4
5,35.0,Male,Japan,Tokyo,3.5,6.0,21.9,6.9,74.4,0.0,12.0,190.97,29.0,60.20,11.0,16.0,8.0,2.0,14.3,11.2,2.0,1995.43,2418.0,1,Q1
6,56.0,Male,Germany,Berlin,1.9,24.0,46.4,13.9,36.2,5.0,20.0,169.58,10.0,27.80,5.5,35.5,4.0,6.0,68.8,42.9,5.0,3003.57,2657.0,0,Q1
7,47.0,Female,USA,Houston,1.6,14.0,24.1,8.3,59.9,2.0,13.0,161.98,6.0,77.16,6.3,5.5,5.0,NaN,30.1,7.6,2.0,1394.04,2274.0,0,Q4
8,32.0,Male,Canada,Calgary,1.3,14.0,NaN,7.4,66.5,4.0,6.0,77.79,13.0,1.80,9.9,19.0,2.0,0.0,0.0,18.7,2.0,537.21,534.0,0,Q1
9,44.0,Male,USA,New York,3.6,13.0,31.3,5.4,62.6,3.0,9.0,90.95,38.0,65.50,NaN,11.7,2.0,1.0,13.5,21.5,2.0,807.84,977.0,0,Q2

## Quick Overview

In [ ]:
df.shape

(50000, 25)

In [ ]:
df.describe()

,Age,Membership_Years,Login_Frequency,Session_Duration_Avg,Pages_Per_Session,Cart_Abandonment_Rate,Wishlist_Items,Total_Purchases,Average_Order_Value,Days_Since_Last_Purchase,Discount_Usage_Rate,Returns_Rate,Email_Open_Rate,Customer_Service_Calls,Product_Reviews_Written,Social_Media_Engagement_Score,Mobile_App_Usage,Payment_Method_Diversity,Lifetime_Value,Credit_Balance,Churned
count,47505.000000,50000.000000,50000.000000,46601.000000,47000.000000,50000.000000,46000.000000,50000.000000,50000.000000,47000.000000,46500.000000,45509.000000,47472.000000,49832.000000,46500.000000,44000.000000,45000.000000,47500.000000,50000.000000,44500.000000,50000.000000
mean,37.802968,2.984009,11.624660,27.660754,8.737811,57.079973,4.298391,13.111576,123.117330,29.792872,41.997485,6.680913,20.937980,5.681831,2.853312,29.364466,19.371607,2.353874,1440.626292,1966.233258,0.289000
std,11.834668,2.059105,7.810657,10.871013,3.778220,16.282723,3.189754,7.017312,175.569714,29.695062,21.373642,6.143027,14.252561,2.676052,2.328948,20.574021,9.419252,1.110012,907.249443,1225.072166,0.453302
min,5.000000,0.100000,0.000000,1.000000,1.000000,0.000000,0.000000,-13.000000,26.380000,0.000000,0.240000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,29.000000,1.400000,6.000000,19.700000,6.000000,46.400000,2.000000,8.000000,87.050000,9.000000,25.300000,2.900000,9.900000,4.000000,1.000000,13.200000,12.500000,2.000000,789.817500,1049.000000,0.000000
50%,38.000000,2.500000,11.000000,26.800000,8.400000,58.100000,4.000000,12.000000,112.970000,21.000000,40.200000,5.400000,19.700000,5.000000,2.000000,27.600000,18.600000,2.000000,1243.415000,1896.000000,0.000000
75%,46.000000,4.000000,17.000000,34.700000,11.200000,68.700000,6.000000,17.000000,144.440000,41.000000,57.000000,9.100000,30.400000,7.000000,4.000000,43.100000,25.500000,3.000000,1874.000000,2791.000000,1.000000
max,200.000000,10.000000,46.000000,75.600000,24.100000,143.743350,28.000000,128.700000,9666.379178,287.000000,116.640000,99.615734,91.700000,21.000000,21.000000,100.000000,61.900000,5.000000,8987.240000,7197.000000,1.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Age                            47505 non-null  float64
 1   Gender                         50000 non-null  object
 2   Country                        50000 non-null  object
 3   City                           50000 non-null  object
 4   Membership_Years               50000 non-null  float64
 5   Login_Frequency                50000 non-null  float64
 6   Session_Duration_Avg           46601 non-null  float64
 7   Pages_Per_Session              47000 non-null  float64
 8   Cart_Abandonment_Rate          50000 non-null  float64
 9   Wishlist_Items                 46000 non-null  float64
 10  Total_Purchases                50000 non-null  float64
 11  Average_Order_Value            50000 non-null  float64
 12  Days_Since_Last_Purchase       47000 non-null  float64
 13  Discount_Usage_Rate            46500 non-null  float64
 14  Returns_Rate                   45509 non-null  float64
 15  Email_Open_Rate                47472 non-null  float64
 16  Customer_Service_Calls         49832 non-null  float64
 17  Product_Reviews_Written        46500 non-null  float64
 18  Social_Media_Engagement_Score  44000 non-null  float64
 19  Mobile_App_Usage               45000 non-null  float64
 20  Payment_Method_Diversity       47500 non-null  float64
 21  Lifetime_Value                 50000 non-null  float64
 22  Credit_Balance                 44500 non-null  float64
 23  Churned                        50000 non-null  int64
 24  Signup_Quarter                 50000 non-null  object
dtypes: float64(20), int64(1), object(4)
memory usage: 9.5+ MB

## Data Quality Checks

In [6]:
# Rename Columns
df.columns = df.columns.str.lower().str.replace(' ', '_')
df.head(10)

,age,gender,country,city,membership_years,login_frequency,session_duration_avg,pages_per_session,cart_abandonment_rate,wishlist_items,total_purchases,average_order_value,days_since_last_purchase,discount_usage_rate,returns_rate,email_open_rate,customer_service_calls,product_reviews_written,social_media_engagement_score,mobile_app_usage,payment_method_diversity,lifetime_value,credit_balance,churned,signup_quarter
0,43.0,Male,France,Marseille,2.9,14.0,27.4,6.0,50.6,3.0,9.0,94.72,34.0,46.40,2.0,17.9,9.0,4.0,16.3,20.8,1.0,953.33,2278.0,0,Q1
1,36.0,Male,UK,Manchester,1.6,15.0,42.7,10.3,37.7,1.0,19.5,82.45,71.0,57.96,9.2,42.8,7.0,3.0,NaN,23.3,3.0,1067.47,3028.0,0,Q4
2,45.0,Female,Canada,Vancouver,2.9,10.0,24.8,1.6,70.9,1.0,9.1,165.52,11.0,12.24,11.5,0.0,4.0,1.0,NaN,8.8,NaN,1289.75,2317.0,0,Q4
3,56.0,Female,USA,New York,2.6,10.0,38.4,14.8,41.7,9.0,15.0,147.33,47.0,44.10,5.4,41.4,2.0,5.0,85.9,31.0,3.0,2340.92,2674.0,0,Q1
4,35.0,Male,India,Delhi,3.1,29.0,51.4,NaN,19.1,9.0,32.5,141.30,73.0,25.20,5.5,37.9,1.0,11.0,83.0,50.4,4.0,3041.29,5354.0,0,Q4
5,35.0,Male,Japan,Tokyo,3.5,6.0,21.9,6.9,74.4,0.0,12.0,190.97,29.0,60.20,11.0,16.0,8.0,2.0,14.3,11.2,2.0,1995.43,2418.0,1,Q1
6,56.0,Male,Germany,Berlin,1.9,24.0,46.4,13.9,36.2,5.0,20.0,169.58,10.0,27.80,5.5,35.5,4.0,6.0,68.8,42.9,5.0,3003.57,2657.0,0,Q1
7,47.0,Female,USA,Houston,1.6,14.0,24.1,8.3,59.9,2.0,13.0,161.98,6.0,77.16,6.3,5.5,5.0,NaN,30.1,7.6,2.0,1394.04,2274.0,0,Q4
8,32.0,Male,Canada,Calgary,1.3,14.0,NaN,7.4,66.5,4.0,6.0,77.79,13.0,1.80,9.9,19.0,2.0,0.0,0.0,18.7,2.0,537.21,534.0,0,Q1
9,44.0,Male,USA,New York,3.6,13.0,31.3,5.4,62.6,3.0,9.0,90.95,38.0,65.50,NaN,11.7,2.0,1.0,13.5,21.5,2.0,807.84,977.0,0,Q2

In [7]:
# Check Missing Values
missing_values = df.isnull().sum().sort_values(ascending=False)
missing_values[missing_values > 0]

social_media_engagement_score    6000
credit_balance                   5500
mobile_app_usage                 5000
returns_rate                     4491
wishlist_items                   4000
product_reviews_written          3500
discount_usage_rate              3500
session_duration_avg             3399
pages_per_session                3000
days_since_last_purchase         3000
email_open_rate                  2528
payment_method_diversity         2500
age                              2495
customer_service_calls            168
dtype: int64

In [8]:
# Handle Missing Values
numeric_cols = df.select_dtypes(include='number').columns
for col in numeric_cols:
    df[col] = df[col].fillna(df[col].median())

In [9]:
df.isnull().sum().sort_values(ascending=False)

age                              0
gender                           0
country                          0
city                             0
membership_years                 0
login_frequency                  0
session_duration_avg             0
pages_per_session                0
cart_abandonment_rate            0
wishlist_items                   0
total_purchases                  0
average_order_value              0
days_since_last_purchase         0
discount_usage_rate              0
returns_rate                     0
email_open_rate                  0
customer_service_calls           0
product_reviews_written          0
social_media_engagement_score    0
mobile_app_usage                 0
payment_method_diversity         0
lifetime_value                   0
credit_balance                   0
churned                          0
signup_quarter                   0
dtype: int64

In [10]:
# Convert 'age' to integer (round then convert)
df['age'] = df['age'].round().astype(int)
df['age'].dtype

dtype('int64')

In [11]:
# Check Duplicates
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 0

In [12]:
# Illogical Values Detection
negative_values = (df[numeric_cols] < 0).sum()
negative_values[negative_values > 0]

total_purchases    40
dtype: int64

In [13]:
# Check details of illogical values
df.loc[df['total_purchases'] < 0, 'total_purchases'].describe()

count    40.000000
mean     -6.230000
std       3.084552
min     -13.000000
25%      -8.000000
50%      -6.500000
75%      -3.750000
max      -1.000000
Name: total_purchases, dtype: float64

In [14]:
# Change illogical values to NaN
df.loc[df['total_purchases'] < 0, 'total_purchases'] = np.nan

In [15]:
# Impute the NaN values with median
df['total_purchases'] = df['total_purchases'].fillna(df['total_purchases'].median())

In [16]:
df[df['total_purchases'] < 0]

Empty DataFrame
Columns: [age, gender, country, city, membership_years, login_frequency, session_duration_avg, pages_per_session, cart_abandonment_rate, wishlist_items, total_purchases, average_order_value, days_since_last_purchase, discount_usage_rate, returns_rate, email_open_rate, customer_service_calls, product_reviews_written, social_media_engagement_score, mobile_app_usage, payment_method_diversity, lifetime_value, credit_balance, churned, signup_quarter]
Index: []

In [17]:
# Illogical Values in Age
df['age'].describe()

count    50000.000000
mean        37.812800
std         11.535688
min          5.000000
25%         30.000000
50%         38.000000
75%         45.000000
max        200.000000
Name: age, dtype: float64

In [18]:
df['age'] = df['age'].clip(lower=18, upper=90)

In [19]:
# Outlier Check
Q1 = df[numeric_cols].quantile(0.25)
Q3 = df[numeric_cols].quantile(0.75)
IQR = Q3 - Q1

In [20]:
outliers = ((df[numeric_cols] < (Q1 - 1.5 * IQR)) | 
            (df[numeric_cols] > (Q3 + 1.5 * IQR))).sum()

outliers.sort_values(ascending=False)

days_since_last_purchase         2727
payment_method_diversity         2439
returns_rate                     1822
lifetime_value                   1684
membership_years                 1581
customer_service_calls           1185
product_reviews_written          1090
average_order_value              1005
wishlist_items                    858
mobile_app_usage                  692
social_media_engagement_score     676
total_purchases                   604
credit_balance                    578
session_duration_avg              529
pages_per_session                 478
email_open_rate                   385
cart_abandonment_rate             323
login_frequency                   309
age                               305
discount_usage_rate               224
churned                             0
dtype: int64

In [21]:
df_clean = df.copy()